.header{
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0359f4;
}

.container {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}